# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  lint: 
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name : Install dotnet-format tool
        run: dotnet tool install -g dotnet-format
        
      - name: Run C# solution code style check
        run: dotnet format src/server/GameCoreSolution.sln --verify-no-changes
      - name: Run unity code style check
        run: dotnet format src/client/UnityClient/DiceRaceClient/Assets/src --verify-no-changes
